/* Add a media query for mobile devices */
@media (max-width: 767px) {

    /* Adjust the padding and font-size in the hero section */
    .hero nav {
        padding-top: 16px;
    }

    .hero .logo {
        font-size: 25px;
        padding-right: 4em;
    }

    nav ul li {
        padding: 150px 150px 150px 150px;
        display: flex auto;
    }

    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    /* Adjust the padding and width in the about section */
    .about {
        padding: 50px;

    }

    #img {
        height: auto;
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .about-text {
        width: 50%;
        text-align: left;
    }

    .about-text h2 {
        font-size: 45px;
    }

    .about-text h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about-text p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .about-text h3 {
        font-size: 16px;
    }

    /* Adjust the margin in the projects section */
    .projects .title h2 {
        margin: 10px auto;
    }

    /* Adjust the margin in the skills section */
    .skillsContainer {
        flex-wrap: wrap;
    }

    /* Skills section header*/
    .title h2 {

        display: flex;
        padding-left: 90px;
        text-align: center;
        margin-left: auto;

    }

    .skill-box {
        margin-bottom: 30px;
    }

    /* Adjust the height and margin in the contact section */
    .contact-me {
        height: auto;
        padding: 50px 0px;
    }

    .contact-me p {
        font-size: 25px;
    }

    .contact-me .button-two {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* Adjust the font-size and margin in the footer section */
    footer p:nth-child(1) {
        font-size: 25px;
        margin-bottom: 10px;
    }

    footer p:nth-child(2) {
        font-size: 14px;
        width: 90%;
        margin-bottom: 30px;
    }

    .social a {
        width: 35px;
        height: 35px;
        margin: 10px;
        font-size: 16px;
    }

    .end {
        font-size: 12px;
    }
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

/* hero section start */

.hero {

    height: 100vh;
    width: 100%;
    background-image: url(../images/last_resort.jpg);
    background-size: cover;
    background-position: center;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {

    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span {

    color: red;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: red;
    transition: .4s;
}

#click {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;

}

h1 {
    color: white;
    margin: 15px 15px;
    font-size: 75px;

}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {

    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

/* about section start */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

#img {

    height: 600px;
    width: 500px;
    padding-right: 40px;

}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.about-text h2 {

    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {

    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;

}

.about-text p {

    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}

.about-text h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-size: 18px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

#abtBtn:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}




/* My Projects */

.projects {

    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 25px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}


.card .button {

    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}

/* skills section start */

.skills {

    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.skill-box {
    height: 200px;
    width: 335px;
    padding: 20px 25px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.skill-box i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}


/* Contact section */



.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.contact-me p {

    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {

    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}


.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer {

    position: relative;
    width: 100;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social {
    display: flex;
}


.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 16px;
}



.social a:hover {

    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}